<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newscraper | Read News from different sources</title>


    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.min.css">
</head>

<body>
    <div class="app" id="app">
        <main>
            <v-app>

                <div class="bar">

                    <svg @click.stop="drawer = !drawer" class="hamburger" xmlns="http://www.w3.org/2000/svg" width="32"
                        height="32" viewBox="0 0 24 24" fill="#000" stroke="#000" stroke-width="3"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                    <a href="https://github.com/sumitkolhe/Newscraper"><span class="github"><svg id="social-icons2"
                                class="social" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#121212"
                                width="32" height="32">
                                <path fill-rule="evenodd"
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                </path>
                            </svg>
                            </svg>
                        </span></a>


                    <h1>NewScraper</h1>

                </div>
                <v-layout>

                    <v-layout justify-center>



                        <section>
                            <article>
                                <a target="_blank" class="article" v-for="article in getNews"
                                    :href="article.url || article.webUrl">

                                    <div class="child"><img :src="article.urlToImage" class="thumb"></div>
                                    <div class="child">
                                        <header>
                                            <span v-if="!article.webTitle">{{ article.title }}</span>
                                            <span v-else>{{ article.webTitle }}</span>
                                            <time>{{ formatDate(article.publishedAt) }}</time>

                                            <p v-if="article.abstract || article.description">
                                                {{article.description }}</p>
                                        </header>
                                    </div>
                                </a>
                            </article>
                        </section>
                    </v-layout>




                    <v-navigation-drawer temporary v-model="drawer" absolute column fill-height>
                        <v-list class="pa-1">
                            <v-list-tile class="avatar">
                                <v-list-item-avatar>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                                        <path
                                            d="M7 16h13v1h-13v-1zm13-3h-13v1h13v-1zm0-6h-5v1h5v-1zm0 3h-5v1h5v-1zm-17-8v17.199c0 .771-1 .771-1 0v-15.199h-2v15.98c0 1.115.905 2.02 2.02 2.02h19.958c1.117 0 2.022-.904 2.022-2.02v-17.98h-21zm19 17h-17v-15h17v15zm-9-12h-6v4h6v-4z" />
                                        </svg>
                                </v-list-item-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title class="news-source"> News Source</v-list-tile-title>

                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>



                        <v-list rounded>
                            <v-divider dark></v-divider>
                            <v-list-tile :class="{ active: active === index }" v-for="(item, index) in items"
                                :key="index" @click="selectNews(index)">
                                <v-list-tile-content>
                                    <v-list-tile-title class="navlist">{{ item.name }}</v-list-tile-title>

                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>


                    </v-navigation-drawer>

                </v-layout>
            </v-app>


        </main>
    </div>

    <script src="app.js"></script>
</body>

</html>